
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow clients to get the list of all cities
    match /cities {
      allow list: if true;
    }

    // Allow clients to get a single city document
    // And allow reading the nested routes for a specific city
    match /cities/{cityId} {
      allow get: if true;
      
      match /routes/{routeId} {
        allow read: if true;
      }
    }
    
    // Explicitly deny writes to all collections from the client
    match /{document=**} {
      allow write: if false;
    }
  }
}
