rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to the bus routes data.
    // This is safe as this data is not sensitive.
    match /routes/{routeId} {
      allow read: if true;
      allow write: if false; // Keep writes protected.
    }
  }
}
